<%- include('partials/header.ejs') %>
        
        <main>
            <h2> Contact Us!</h2>
            <p class="content">Woodward 202</p>
        </main>
            
<%- include('partials/footer.ejs') %>