
<%- include('partials/header.ejs') %>

        <main class="table">
            <h3> This page is for women who are willing to make a change !</h3>
            <h3>Come join us to have some fun and knowledge at the same time with many seminars and events.</h3>
        </main>
            
<%- include('partials/footer.ejs') %>
